<a href="https://colab.research.google.com/github/tinhb92/tay_quen/blob/master/re.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import re

In [0]:
sentence = 'The rain in Spain'

Qn 1. Check if 'rain' is in the string

In [6]:
bool(re.search(r'rain', sentence))

True

Qn 2. Search the string to see if it starts with "The" and ends with "Spain"

In [11]:
bool(re.search("^The.*Spain$", sentence))

True

https://www.kaggle.com/sohier/introduction-to-regular-expressions

In [0]:
veggie_request = 'I would like some vegetables, vitamins, and water.'

Qn 3. Replace vegetables, vitamins, water with pie

In [13]:
re.sub('vegetables|vitamins|water', 'pie', veggie_request)

'I would like some pie, pie, and pie.'

In [0]:
messy_phone_number = '(123) 456-7890'

Qn 4. Remove everything that is not a number in messy_phone_number

In [15]:
re.sub(r'\D', '', messy_phone_number)

'1234567890'

In [0]:
really_messy_number = messy_phone_number + ' this is not a valid phone number'

Qn 5. Remove -, ., (, ) in really_messy_number

In [19]:
re.sub(r'[-.() ]', '', really_messy_number) # why include .

'1234567890thisisnotavalidphonenumber'

In [0]:
buried_phone_number = 'You are the 987th caller in line for 1234567890. Please continue to hold.'

Qn 6. Extract phone number from buried_phone_number.

In [21]:
re.findall(r'\d{10}', buried_phone_number)

['1234567890']

Qn 7. Extract the first 3 numbers from phone number

In [22]:
re.findall(r'\d{3}(?=\d{7})', buried_phone_number)

['123']

In [0]:
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [0]:
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3